[deutsch]
database.host = warehouse.cims.nyu.edu
database.user = abs407
database.pass = n9drxmfr
database.db = abs407_deutsch

; the following values are what PERCENT of the sentence the verb
; can exist in and still qualify as a verb
word.verbStart = 10 ; the word is only a verb in the FIRST 10% of the sentence
word.verbEnd   = 10 ; the word is only a verb in the LAST 10% of the sentence

; for debugging purposes on the command line
debug = False

isCims = True
