[deutsch]
database.host = localhost
database.user = root
database.pass = password
database.db = deutsch

; How many words from the start / end of a setence a verb is allowed to be.
word.verbStart = 4
word.verbEnd   = 4

; for debugging purposes on the command line
debug = True

isCims = False
