[bottle]
debug = False
hit_internet = False

[database]
host = localhost
user = root
pass = password
db = deutsch

[word]
; How many words from the start / end of a setence a verb is allowed to be.
verb_start = 4
verb_end   = 4
