		<div class="bookmarklet">
			<a class="button" href="javascript:(function() {var verbinatorBookmarklet;verbinatorBookmarklet=document.createElement('script');verbinatorBookmarklet.type='text/javascript';verbinatorBookmarklet.src='http://cs.nyu.edu/~abs407/deutsch/scripts/bookmarklet.js';document.getElementsByTagName('head')[0].appendChild(verbinatorBookmarklet);})();">
				Verbinator Bookmarklet
			</a>
			<a class="question" id="bookmarkletQuestion" href="http://www.youtube.com/watch?v=QrwevUN0KdQ" target="_blank">
				[?]
			</a>
		</div>
		</div>
		<div class="copyright">
			©2010 Andrew Stone
		</div>
	</div>
</body>
</html>
