AddHandler mod_python .py
PythonHandler /home/andi/Dev/NYU/Deutsch/www/index.py
PythonDebug On

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.py?requestPath=$1 [L,QSA]
