body {
	background: url(/images/bg.png);
	font-size: 14px;
	font-family: Sans-serif;
}

.content {
	margin: 0px auto;
	width: 700px;
}
	.content .title {
		background: url(/images/logo.png) no-repeat center;
		height: 75px;
	}
	.content .input {
		margin: 50px 0px 25px;
	}
	.content .input,
	.content .input input {
			font-family: Georgia, Sans-serif;
	}
		.content .input input.translate {
			width: 75%;
		}
		.content .input input.magic {
			width: 23%;
		}
	
	.content .searchPhrase span {
		background: url(/images/translations.bg.png) repeat-x center top;
	}
	
	.content .translations {
		font-size: 12px;
	}
		.content .translations a {
			color: #000
		}
	.content .translations.loading {
		background: url(/images/loading.gif) no-repeat center;
		height: 32px;
	}
		.content .translations.loading table {
			opacity: .1;
			filter: alpha(opacity=10);
		}
		.content .translations table {
			margin: 0px auto;
			border-collapse: collapse;
		}
			.content .translations table th {
				font-weight: bold;
				border-bottom: 1px solid #000;
				padding: 5px 50px;
			}
			.content .translations table td {
				background: url(/images/translations.bg.png) repeat-x;
				border-bottom: 1px solid #000;
				padding: 3px 10px;
			}
			.content .translations table tr:last-child td {
				border-bottom: 0px;
			}
			.content .translations table tr:last-child td[colspan] {
				text-align: center;
			}
	
	.content .bookmarklet {
		margin-top: 25px;
		text-align: center;
	}
		.content .bookmarklet .button {
			-moz-border-radius: 6px;
			border-radius: 6px;
			-moz-box-shadow: 3px 2px 2px 0 rgba(0, 0, 0, 0.35);
			box-shadow: 3px 2px 2px 0 rgba(0, 0, 0, 0.35);
			-webkit-box-shadow: 3px 2px 2px 0 rgba(0, 0, 0, 0.35);
			text-decoration: none;
			background-color: #DDDDDD;
			color: #222222;
			cursor: move;
			font-size: 12px;
			font-variant: small-caps;
			padding: 6px;
			text-align: center;
			width: 200px;
		}
		
		.content .bookmarklet .question {
			text-decoration: none;
			margin-left: 5px;
			font-size: 12px;
		}
	
	.content .copyright {
		margin-top: 50px;
		color: #909090;
		text-align: center;
	}
